* {
	font-family: Verdana;
}

.logotipo {
    margin-top: 0 auto;
    margin-left: 0 auto;
    width: 80px;
}

.datos_cliente {
    background-color: #55ccff;
}

.datos_pedido {
    background-color: #40ccbb;
}

label {
    display: inline-block;
    width: 110px;
}

.input-error
{
    background-color: #e37979
}
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group {
    padding-left: 5px;
    padding-bottom: 5px;

}
.espacios {
    padding-right: 5px;
}
p  {
    margin-top: 5px;
}

div input [type=radio]{
    display: block;
}
.cursiva {
    font-style: Italic;
}
.direccion {
    vertical-align: top;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    width: 450px;
}

.titulo {
    display: inline-block;
    vertical-align: top;
    width: 450px;
}